In [1]:
import pandas as pd
import numpy as np

In [2]:
#dataframe with GO annotation informattion
df_gene_information = pd.read_csv('../../../config/mandatory_files/GenesByOrthologPattern_Summary.txt',
                                  sep='\t',
                                  low_memory=False)


df_gene_information.dropna(subset=['Product Description'], inplace=True)

#OGroup assignation
OG_and_memebrs = pd.read_csv('../../../config/mandatory_files/Ortholog_group_to_geneID.tsv', sep='\t', header=None, names=['cluster_representer_or_OG', 'members'])

In [3]:
df_merged = OG_and_memebrs.merge(df_gene_information, left_on='members', right_on='Gene ID', how='inner')

In [4]:
#only hypothetical or unspecified product df
df_hypothetical = df_merged[ df_merged['Product Description'].str.contains('[H,h]ypothetical protein|unspecified product') ]

In [5]:
OG_total_size = df_merged.groupby('cluster_representer_or_OG').size().to_frame()

OG_hypothetical_size = df_hypothetical.groupby('cluster_representer_or_OG').size().to_frame()

In [6]:
df_to_compare = OG_total_size.merge(OG_hypothetical_size, left_index=True, right_index=True, how='left')

In [7]:
df_to_compare['only_hypothetical_OG'] = df_to_compare['0_x'] == df_to_compare['0_y']

In [8]:
df_to_compare.columns = ['OGsize','OGhypotetical_proteins','only_hypothetical_OG']

In [9]:
df_to_compare

,OGsize,OGhypotetical_proteins,only_hypothetical_OG
cluster_representer_or_OG,,,
ADEAN_000006100,62,20.0,False
ADEAN_000006300,69,39.0,False
ADEAN_000006700,65,6.0,False
ADEAN_000008900,11,NaN,False
ADEAN_000011000,74,6.0,False
...,...,...,...
TvY486_1117440,29,29.0,True
TvY486_1117590,26,26.0,True
TvY486_1117620,42,17.0,False
TvY486_1117800,27,NaN,False
TvY486_1118000,66,21.0,False

In [10]:
df_to_compare.to_csv('../../report/Ortholog_Group_Full_of_hypotetical_boolean.tsv', sep='\t')