In [1]:
import pandas as pd

In [ ]:
clust_size = snakemake.params.cluster_size
input_file = snakemake.input[0]
output_file = snakemake.output[0]

clust_size = 10

In [18]:
print('Filtering clusters created by MMseq2')
print('-' * 50)
print(f'Removing clusters smaller than {clust_size} members')
print('-' * 50)

Filtering clusters created by MMseq2
--------------------------------------------------
Removing clusters smaller than 10 members
--------------------------------------------------

In [15]:
df = pd.read_csv(input_file, sep='\t', header=None)

In [17]:
print(f'Amount of clusters before filtering: {df[0].nunique()}')

Amount of clusters before filtering: 136822

In [4]:
df0 = df.groupby(0).size()

In [23]:
df0 = df0[df0 >= clust_size].index

In [26]:
df = df[df[0].isin(df0)]

In [28]:
print(f'Amount of clusters after filtering: {df[0].nunique()}')

Amount of clusters before filtering: 14990

In [27]:
df.to_csv(output_file, header=None, index=None, sep='\t')

                     0                     1
86      TvY486_1104340        TvY486_1104340
87      TvY486_1104340         TcCL_ESM03125
88      TvY486_1104340            TCDM_07001
89      TvY486_1104340          ECC02_004248
90      TvY486_1104340             TcG_06562
...                ...                   ...
677718  Lsey_0093_0150           LPMP_250650
677719  Lsey_0093_0150        LdCL_250011700
677720  Lsey_0093_0150  LARLEM1108_250011900
677721  Lsey_0093_0150          LbrM.25.2110
677722  Lsey_0093_0150        LdBPK_250650.1

[478435 rows x 2 columns]